@use 'styles.scss' as *;

.body {
  background-color: hsl(0, 0%, 5%);
}

.main {
  padding-bottom: 2rem;
  opacity: 0.5;
  animation: fade-in 0.4s ease forwards;

  back-to-home-page-button {
    position: fixed;
    left: 2rem;
    top: 8rem;
  }
}

.content {
  margin: 0 auto;
  width: clamp(20rem, 60%, 50rem);
}

.hero {
  margin-bottom: clamp(2rem, 18%, 10rem);
}

.box {
  display: flex;
  flex-direction: column;

  outline: 0.3rem solid black;
  border: 0.15rem solid darkgrey;
  padding: 1rem;
  margin-bottom: clamp(2rem, 18%, 10rem);
  border-radius: 1rem;
}

p {
  max-width: 75ch;
  color: white;
  padding: 1rem 5% 1rem 5%;
  font-size: clamp(0.8rem, 3vw, 1rem);
  text-wrap: pretty;
}

li {
  font-size: clamp(0.8rem, 3vw, 1rem);
  margin-left: 5%;
  padding: 0.1rem;
  max-width: 70ch;
}

h3 {
  font-size: clamp(0.9rem, 3.3vw, 1.1rem);
}

h2 {
  color: white;
  padding: 1rem 1rem 2rem 1rem;
  @include glowing-text(clamp(1.5rem, 7vw, 3rem), hsl(0, 0%, 70%));
}

h1 {
  height: 5.5rem;
}

img,
video {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  object-fit: cover;
  justify-self: center;
  border-radius: 0.5rem;
}

// Animations
@keyframes fade-in {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@keyframes img-rise {
  from {
    transform: translateY(3rem);
  }

  to {
    transform: translateY(0rem);
  }
}

// Media Queries
@media (max-width: 1080px) {
  .main {
    back-to-home-page-button {
      position: absolute;
      left: 1rem;
    }

    .content {
      width: 95%;
    }

    .links {
      position: absolute;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: calc(95% - 7.5rem);
      left: 7.5rem;

      top: 8rem;

      a {
        font-size: 1rem;
      }
    }

    .content-tab {
      display: none;
    }
  }
}

@media(max-width: 400px) {
  .main {
    back-to-home-page-button {
      display: none;
    }

    .links {
      width: 90%;
      left: 5%;
    }
  }
}
