<div class="main">
  <nav-bar />
  <div class="project" id="cdrive" (click)="loadCDrivePage()">
    <div class="text">
      <h2>CDrive</h2>
      <span>C++ File Sharing Service</span>
    </div>
    <img src="CDrive/HomePageDesktop.png" alt>
  </div>
  <div class="project" id="fuse" (click)="loadComingSoonPage()">
    <div class=" text">
      <h2>Fuse Filesystem</h2>
      <span>Fuse Filesystem Directory</span>
    </div>
    <img src="FuseImage.png" alt>
  </div>
  <div class="project" id="zombie-wash" (click)="loadComingSoonPage()">
    <div class=" text">
      <h2>ZombieWash</h2>
      <span>Unity Video Game</span>
    </div>
    <video #ZombieWashVideo src="ZombieWashDemoVideo.mp4" muted playsinline preload="auto"> </video>
  </div>
  <div class="project" id="surround" (click)="loadComingSoonPage()">
    <div class=" text">
      <h2>Atari Surround</h2>
      <span>Multiplayter Online Atari Surround Game</span>
    </div>
    <img src="SurroundImage.png" alt>
  </div>
</div>
