<div class="main">
  <nav-bar />
  <div class="project" id="hero">
    <div class="top-bar">
      <div class="window-button" id="red"></div>
      <div class="window-button" id="yellow"></div>
      <div class="window-button" id="green"></div>
    </div>
    <div class="title">
      <h2>I learn <em> quick. </em></h2>
      <span>3rd year Computer Science student at Northeastern University</span>
    </div>
  </div>
  <div class="project" id="cdrive" (click)="loadCDrivePage()">
    <div class="text">
      <h2>CDrive</h2>
      <span>C++ File Sharing Service</span>
    </div>
    <img src="CDrive/HomePageDesktop.png" alt>
  </div>
  <div class="project" id="zombie-wash" (click)="loadZombieWashPage()">
    <div class=" text">
      <h2>ZombieWash</h2>
      <span>Unity Video Game</span>
    </div>
    <video #ZombieWashVideo src="ZombieWash/ZombieWashDemoVideo.mp4" muted playsinline preload="auto"> </video>
  </div>
  <div class="project" id="fuse" (click)="loadFusePage()">
    <div class=" text">
      <h2>Fuse Filesystem</h2>
      <span>Fuse Filesystem Directory</span>
    </div>
    <img src="Fuse/FuseImage.png" alt>
  </div>
  <div class="project" id="surround" (click)="loadComingSoonPage()">
    <div class=" text">
      <h2>Atari Surround</h2>
      <span>Multiplayter Online Game</span>
    </div>
    <img src="SurroundImage.png" alt>
  </div>
</div>
